/* Web AppStrap by Steve Harries 

1: (28) Normalising
2: (86) Navigation classes
3: (107) Grid 24x24 for every box
4: (300) Margin classes
5: (346) Padding classes
6: (394) Font classes
7: (431) Alignments (box and Box content)
8: (491) Border classes
9: (505) Shape classes
10: (532) Position classes
11: (570) Colour classes
12: (606) Button classes
13: (617) Effect classes
14: (654) View classes eg hidden, select

Use custom.css for site specific styles, including re-defining these classes
Use media.css for comprehensive display management
Use effects.css for special effects like shake and flip 

Alway style the content to create a parent's height - Use font-size, margin, padding, line-height etc.

Always use EM measures

*/

/*NORMALISING*/
*{
	position:relative;
	box-sizing:border-box;
}

@-ms-viewport {
  width: device-width; 
  }
  
@viewport {
  width: device-width; 
  }
  
body{
	height:100%;
	min-height:100vh;
	width:100%;
}
a{
	text-decoration: none;
}

button{
	background-color:transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block; 
}

h1, h2, h3, h4, h5, h6, p {
	margin-top : 0 ;
	padding-top : 1em;
	color:#0083A2
}

img{
	border : none;
}

/* NAVIGATION */
nav ul{
	margin:0; 
	padding:0; 
	list-style-type:none; 
}

nav li, nav a{
	display:inline-block;
}

/* Vertical list use .vert */
.vert li{
	display : block ;
}

/* Fit the li box */
nav a{
	width:100%;
	height:100%; 
	text-decoration:none;
}

/*GRID*/
/* Class - A selected group of different tags */
.row{
	display:inline-block;
	width:100%;
	margin-top:-0.26em;
}

.col{
	display:inline-block;
	height:100%;
	margin-left:-0.10em;
	vertical-align: top;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.w1{
	width: calc(99.94% * 1/24);
}
.w2{
	width: calc(99.94% * 2/24);
}
.w3{
	width: calc(99.94% * 3/24);
}
.w4{
	width: calc(99.94% * 4/24);
}
.w5{
	width: calc(99.94% * 5/24);
}
.w6{
	width: calc(99.94% * 6/24); /* Quarter of a parent container */
}
.w7{
	width: calc(99.94% * 7/24);
}
.w8{
	width: calc(99.94% * 8/24);
}
.w9{
	width: calc(99.94% * 9/24);
}
.w10{
	width: calc(99.94% * 10/24);
}
.w11{
	width: calc(99.94% * 11/24);
}
.w12{
	width: calc(99.94% * 12/24); /* Half of a parent container */
}
.w13{
	width: calc(99.94% * 13/24);
}
.w14{
	width: calc(99.94% * 14/24);
}
.w15{
	width: calc(99.94% * 15/24);
}
.w16{
	width: calc(99.94% * 16/24);
}
.w17{
	width: calc(99.94% * 17/24);
}
.w18{
	width: calc(99.94% * 18/24); /* Three Quarters of a parent container */
}
.w19{
	width: calc(99.94% * 19/24);
}
.w20{
	width: calc(99.94% * 20/24);
}
.w21{
	width: calc(99.94% * 21/24);
}
.w22{
	width: calc(99.94% * 22/24);
}
.w23{
	width: calc(99.94% * 23/24);
}
.w24{
	width: 100%; 
}


.h1{
	height: calc(100% * 1/24);
	min-height: calc(100% * 1/24);
}
.h2{
	height: calc(100% * 2/24);
	min-height: calc(100% * 2/24);
}
.h3{
	height: calc(100% * 3/24);
	min-height: calc(100% * 3/24);
}
.h4{
	height: calc(100% * 4/24);
	min-height: calc(100% * 4/24);
}
.h5{
	height: calc(100% * 5/24);
	min-height: calc(100% * 5/24);
}
.h6{
	height: calc(100% * 6/24);
	min-height: calc(100% * 6/24);
}
.h7{
	height: calc(100% * 7/24);
	min-height: calc(100% * 7/24);
}
.h8{
	height: calc(100% * 8/24);
	min-height: calc(100% * 8/24);
}
.h9{
	height: calc(100% * 9/24);
	min-height: calc(100% * 9/24);
}
.h10{
	height: calc(100% * 10/24);
	min-height: calc(100% * 10/24);
}
.h11{
	height: calc(100% * 11/24);
	min-height: calc(100% * 11/24);
}
.h12{
	height: calc(100% * 12/24); /* Half of a parent container */
	min-height: calc(100% * 12/24); /* Half of a parent container */
}
.h13{
	height: calc(100% * 13/24);
	min-height: calc(100% * 13/24);
}
.h14{
	height: calc(100% * 14/24);
	min-height: calc(100% * 14/24);
}
.h15{
	height: calc(100% * 15/24);
	min-height: calc(100% * 15/24);
}
.h16{
	height: calc(100% * 16/24);
	min-height: calc(100% * 16/24);
}
.h17{
	height: calc(100% * 17/24);
	min-height: calc(100% * 17/24);
}
.h18{
	height: calc(100% * 18/24);
	min-height: calc(100% * 18/24);
}
.h19{
	height: calc(100% * 19/24);
	min-height: calc(100% * 19/24);
}
.h20{
	height: calc(100% * 20/24);
	min-height: calc(100% * 20/24);
}
.h21{
	height: calc(100% * 21/24);
	min-height: calc(100% * 21/24);
}
.h22{
	height: calc(100% * 22/24);
	min-height: calc(100% * 22/24);
}
.h23{
	height: calc(100% * 23/24);
	min-height: calc(100% * 23/24);
}

.h24{
	height: calc(100% * 24/24);
	min-height: calc(100% * 24/24);
}


/* MARGINS */
.m0-125m{
	margin:0.125em;
}
.m0-25m{
	margin:0.25em;
}
.m0-5m{
	margin:0.5em;
}
.m1m{
	margin:1em;
}
.m1-5m{
	margin:1.5em;
}
.m2m{
	margin:2em;
}
.m2-5m{
	margin:2.5em;
}
.m3m{
	margin:3em;
}
.m4m{
	margin:4em;
}
.m5m{
	margin:5em;
}
.m6m{
	margin:6em;
}

.m-tb{
/* Keeps existing margin top and bottom only */
	margin-left:0; 
	margin-right:0;
}
.m-lr{
/* Keeps existing margin left and right only */
	margin-top:0; 
	margin-bottom:0;
}

/* PADDING */
.p0-125m{
	padding:0.125em;
}
.p0-25m{
	padding:0.25em;
}
.p0-5m{
	padding:0.5em;
}
.p1m{
	padding:1em;
}
.p1-5m{
	padding:1.5em;
}

.p2m{
	padding:2em;
}

.p2-5m{
	padding:2.5em;
}

.p3m{
	padding:3em;
}
.p4m{
	padding:4em;
}
.p5m{
	padding:5em;
}
.p6m{
	padding:5em;
}

.p-tb{
/* Keeps existing padding top and bottom only */
	padding-left:0; 
	padding-right:0;
}

.p-lr{
/* Keeps existing padding left and right only */
	padding-top:0; 
	padding-bottom:0;
}

/* FONTS */

.f1m{
	font-size:1em;
}
.f1-5m{
	font-size:1.5em;
}
.f2m{
	font-size:2em;
}
.f2-5m{
	font-size:2.5em;
}
.f3m{
	font-size:3em;
}
.f4m{
	font-size:4em;
}
.f5m{
	font-size:5em;
}
.f6m{
	font-size:6em;
}

.xletter{
	letter-spacing:0.13em;
}

.xword{
	word-spacing:0.13em;
}

/*ALIGNMENT*/

/* Inline or Inline-Block Alignment - Apply to parent box */

.txt-c{
	text-align:center;
}

.txt-l{
	text-align:left;
}

.txt-r{
	text-align:right;
}

.txt-j{
	text-align:justify;
}

.vat{
	vertical-align:top;
}

.vam{
	vertical-align:middle;
}

.vab{
	vertical-align:bottom;
}

/* Box Alignment */

.va{
	/* 
		WAS JQuery class for vertical align 
		to parent by injecting top margins 
		- can be used after .box-center for 
		vertical and horizontal alignment
	*/
}

.box-center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	float:none;
}

.box-fl{
	float:left;
}

.box-fr{
	float:right;
}



/* BORDERS */

.hlb{
	border:1px solid #000;
}

.w-hlb{
	border:1px solid #fff;
}

.outline{
	border:1em solid #000;
}

.polaroid{
	border:1em solid #fff;
}

/* SHAPE */

.circle{
	/* If object is square, else it will make a pill shape */
	border-radius: 5000px;
}

.rounded{
	border-radius:1em;
}

.bullet-l{
	border-radius:0 50% 50% 0;
}

.bullet-r{
	border-radius:50% 0 0 50%;
}

.tag-l{
	border-radius:50% 0 50% 0;
}

.tag-r{
	border-radius:0 50% 0 50%;
}

/* POSITION */

.fix{
	position:fixed ;
	z-index:9999 ;
/* Locks an element to the screen top and left and doesn’t scroll*/
}

.fix-a{
	position:absolute ;
/* Locks an element to the top and left of its parent container */
}

.top{
	top:0px ;
	bottom:auto ;
/* adjustments for fix and fix-a */
}

.bottom{
	bottom:0px ;
	top:auto ;
/* adjustments for fix and fix-a */

}

.left{
	left:0 ;
	right:auto ;
/* adjustments for fix and fix-a */
}

.right{
	left:auto ;
	right:0 ;
/* adjustments for fix and fix-a */
}

/*COLOUR*/

.f-white{
	color : #ffffff ;
}

.f-black{
	color : #000000 ;
}

.invert, .invert a{
/* Creates black background and white text, and white links (a) */
	background-color : #000000 ; 
	color : #ffffff ;
}

.black-gradient{
	background:linear-gradient(rgba(0,0,0,1) , rgba(0,0,0,0));
}
.white-gradient{
	background:linear-gradient(rgba(255,255,255,1) , rgba(255,255,255,0));
}

.bg-white8{
	background-color:rgba(255,255,255,0.8);
}
.bg-white9{
	background-color:rgba(255,255,255,0.9);
}
.bg-black8{
	background-color:rgba(0,0,0,0.8);
}
.bg-black9{
	background-color:rgba(0,0,0,0.9);
}

/* BUTTON */

.btn{
	cursor:pointer;
	padding:0.75em 1.25em;
	user-select: none;
}
.btn:hover{
	opacity:0.6;
}

/* EFFECTS */

/*Box*/
.black-shadow{
	box-shadow: 8px 8px 8px #c0c0c0;
}

.white-shadow{
	box-shadow: 4px 4px 8px #fff;
}
/*Text*/
.white-ts{
	text-shadow:1px 1px 2px #fff;
}

.black-ts{
	text-shadow:1px 1px 2px #000;
}

.white-ol{
	/* OUTLINES */
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}

.black-ol{
	/* OUTLINES */
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/* VIEW */

.crop{
	overflow:hidden;
}

.crop-x{
	overflow-x:hidden;
}

.crop-y{
	overflow-y:hidden;	
}

.scroll{
	overflow:scroll;	
}
.scroll-x{
	overflow-x:scroll;	
}
.scroll-y{
	overflow-y:scroll;	
}

.remove{
	display:none;
}

.hide{
	visibility:hidden;
}

.no-select{
	user-select:none;
}

/* All box content opacity */
.box-opacity5{
	opacity:0.5;
}
.box-opacity6{
	opacity:0.6;
}
.box-opacity7{
	opacity:0.7;
}
.box-opacity8{
	opacity:0.8;
}
.box-opacity9{
	opacity:0.9;
}

.ib {
	display:inline-block !important;
}